form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form label {
    display: flex;
    flex-direction: column;

    border: solid 5px blue;
    border-radius: 10em;

    padding: 40px;
    margin: 5px;
}

form img {
    height: 200px;
    width: 200px;
}

form span {
    text-align: center;
    text-transform: uppercase;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.pokemon-display {
    height: 200px;
    width: 200px;
}

.catch-text {
    font-weight: 700;
    font-size: 2em;
}

.hidden {
    display: none;
}

.blackground {
    background-color: lightskyblue;
}