article {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
    width: 300px;
}

th {
    text-align: left;
}

canvas {
    width: 75%;
    height: 500px;
  }